# This workflow builds and tests OCCT on multiple platforms (Windows, macOS, Linux with Clang, and Linux with GCC).
# It is triggered on pull requests to any branch.
# The workflow includes steps to prepare and build the project on each platform, run tests, and upload the results.
# Concurrency is set to ensure that only one instance of the workflow runs per pull request at a time.

name: Build and Test OCCT on Multiple Platforms

on:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - 'master'

concurrency:
  group: ${{ github.event_name == 'pull_request' 
    && format('{0}-{1}', github.workflow, github.event.pull_request.number)
    || format('{0}-{1}', github.workflow, github.run_id) }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' && !(github.head_ref == 'IR' && github.repository == 'Open-Cascade-SAS/OCCT') && true || false }}

jobs:

  documentation:
    name: Build Documentation
    runs-on: windows-2025

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4.2.2

    - name: Build documentation
      uses: ./.github/actions/build-docs
